/* ****************CSS reset************** */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* ********************************************************* */
/* ************** start first part header ************* */
#nav-bar {
    background-color: rgb(27, 27, 27);
    padding: 0 10px;
    color: white;
}

/* *** start search bar ***** */
#search-form {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 40px;
}
#search-box {
    width: 100%;
    border-radius:0;
    border-bottom-left-radius: 10px;
}
#search-btn {
    border-radius: 0;
    background-color: rgb(253, 118, 40);
    margin-left: -50px;
    border-top-right-radius: 10px;
    font-size: 1.2rems;
    font-weight: 500;
}
#search-box:hover {
    border: 2px solid rgb(253, 118, 40);
}
#search-btn:hover {
    background-color: black;
    border: 2px solid rgb(253, 118, 40);
    color: rgb(253, 118, 40);   
}


@media screen and (max-width:600px) {
    button#login {
         margin-top: 15px;
         margin-bottom: 15px;
     }
 }
 @media screen and (max-width:750px) {
    button#login {
         margin-top: 15px;
         margin-bottom: 12px;
     }
     
    }
/* ************* End search bar *********** */


/* ************ Start login button and cart ************ */
#login {
    background-color: rgb(253, 118, 40);
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    margin-right: 3px;
}
#login:hover {
    background-color: black;
    border: 2px solid rgb(253, 118, 40);
    color: rgb(253, 118, 40);
}
#cart-icon {
    color: rgb(253, 118, 40);
    font-size: 1.8rem;
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
/* ************ End login button and cart ********** */
/* ********************************************************** */
/* ************** End first part header ************* */




/* ******************************************************* */
/* ************ Start header second part ************ */
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;       
}
.nav-link{
    display: inline;
    list-style-type: none;
   padding-left: 20px; 
} 
ul{
    text-align: center;
}
.nav-item{
display: inline;
color: rgb(253, 118, 40);
font-size: 1.2rem;

}
.nav-item:hover{
color: black;
border: 2px solid  black;
background-color: rgb(253, 118, 40);
margin-right: 10px;
padding: 5px;
border-radius: 5px;
}
/* ************ End header second part ************ */
/* ******************************************************** */


/* *************************************************** */
/* *************** Strat home section ********* */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px; 
}
#banner-img{
background-image: url('images/cover\ photo.avif');
background-repeat: no-repeat;
background-size: cover;
height: 500px;
width: 100%;
}
.para{
     text-align: center;  /* responsive */
     font-size: 20px;     
}
/* *************** End home section ******************** */
/* ************************************************************** */


/* ************************************************************/
/* ************* Start Feature page Slider **************** */
.card-wrapper {
    display: flex;
}
.product-card {
    margin: 0.5rem;
    width: calc(100%/4);
    
}
.mediumCorousel{
    display: none;
}
.smallCorousel {
    display: none;
}
.image-wapper {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-wapper img {
    width: 100%;
    height: 300px;
}
/* *********** End Feature page Slider  *************** */
/* *********************************************************** */


/* ***************************************************** */
/************* Start CSS for Medium Screens *************/

@media screen and ((max-width: 1000px) and (min-width: 500px)) {
    .product-card {
        margin: 0.5rem;
        width: calc(100%/2);
        
    }

    .mediumCorousel {
        display: block;
    }
    .smallCorousel {
        display: none;
    }
}
/* *********************** End ******************* */
/* *************************************************** */


/* ************************************************ */
/************* CSS for Small Screen ***************/
@media screen and (max-width: 500px) {
    .product-card {
        margin: 0.5rem;
        width: calc(100%);
        
    }

    .smallCorousel {
        display: block;
    }

    .image-wapper {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .image-wapper img {
        width: 100%;
        height: 300px;
    }
}


/* *********************** End ******************* */
/* *************************************************** */


/* *************************************************** */
/**** CSS for card and add to cart item button *********/
 .card-title{
    font-weight:bold;
} 

 .btn-cart{
    background-color:rgb(253, 118, 40); 
 }
 .btn-cart:hover{
    background-color: black;
    color: rgb(253, 118, 40);
    border: 2px solid rgb(253, 118, 40);;
 }
 /* ****************** End  ************************** */
/* ***************************************************** */



/* ***************************************************** */
/**************** Start Product Page CSS ************/

  .text{
    color: rgb(253, 118, 40);
    text-decoration: underline;
  }
  .price {
    font-size: 20px;
    font-weight: 500;
}
  /**************** End Product Page CSS ************/
  /* ************************************************** */

  
  
  /**************** Start login form CSS ************/
  /* ************************************************* */

.cantainer {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.log-btn {
    width: 150%;
    background-color: rgb(253, 118, 40);
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 500px;
}
.log-btn:hover {
    border: 2px solid rgb(253, 118, 40);
    background-color: black;
    color: rgb(253, 118, 40);
    border-radius: 5px;
}
.width-text{
 width: 150%;
}
 /************** End login form CSS ****************/
 /* ************************************************* */



/* ******************************************************* */
 /************** Strat Contact page CSS ************/
 h2 {
    text-align: center;
    margin-top: 5px;
 
}
.input-width {
    width: 100%;
}

.img-1 {
    width: 500px;
    height: 340px;
    box-shadow: 5px 5px 5px rgb(190, 187, 187);
}
/************** End Contact Page CSS ****************/
 /* ************************************************* */

 .text-bold{
    font-weight: bold;
 }